/* Landing page */

.landing-page {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-demo {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-demo img {
  width: 80%;
}

.login-signup {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-signup * {
  width: 80%;
  margin-top: 2%;
}

.content {
  height: 80vh;
}
