/* General */

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', serif;
}

.wrapper form input, .wrapper form button {
  background-color: #fafafa;
  border: 1px solid #efefef;
}

.wrapper form button {
  color: #666;
}

.wrapper img {
  width: 160px;
  border-radius: 50%;
}

body {
  background-color: #fff;
}

.header {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #666;
}

img.nav-icon {
  width: 35px;
  height: auto !important;
}

.header li {
  margin-right: 40px;
  list-style: none;
}

.header li a {
  text-decoration: none;
}

.header li a img {
  border-radius: 28%;
}

h1.heading-slogan {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  margin-left: 35px;
}

div.navigation {
  display: flex;
}

button {
  height: 40px;
}

.footer {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  background-color: #666;
}

/* index.php */

.landing-page {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-demo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-demo img {
  width: 350px !important;
  height: auto !important;
  border-radius: 0;
}

.login-signup {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup * {
  width: 300px;
  margin-top: 5%;
}

.login-signup h1 {
  font-family: 'Playfair Display';
  font-size: 50px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form * {
  margin-top: 20%;
}

form input {
  height: 50px;
  padding-left: 8px;
  background-color: #eee;
}

.login-signup a {
  text-align: center;
}


.content {
  height: 80vh;
}

/* feed.php */

.share-container {
  margin: 40px auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.share-container form * {
  font-family: 'Ubuntu', serif;
  width: 300px;
  height: 35px;
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px solid #efefef;
}

.share-container img {
  border: 1px solid #efefef;
}

.share-container button {
  width: 310px;
  color: #666;
  background-color: #fafafa;
  border: 1px solid #efefef;
}

.post {
  font-size: 14px;
  width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  letter-spacing: 1.3px;
}

img.feed-avatar {
  width: 60px;
}

.top {
  display: flex;
}

.title-url {
  margin-left: 15px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description {
  margin: 20px 0px 20px 0px;
  width: 500px;
}
