/* General */

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', serif;
}

body {
  background-color: #eee;
}

.header {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  background-color: maroon;
}

.footer {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  background-color: maroon;
}

/* Landing page */

.landing-page {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-demo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-demo img {
  width: 350px;
}

.login-signup {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup * {
  width: 300px;
  margin-top: 5%;
}

.login-signup h1 {
  font-family: 'Playfair Display';
  font-size: 50px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form * {
  margin-top: 20%;
}

form input {
  height: 50px;
  padding-left: 8px;
  background-color: #eee;
}

.login-signup a {
  text-align: center;
}


.content {
  height: 80vh;
}
