@media only screen and (max-width: 900px) {

  .img-demo {
    display: none;
  }

  .share-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .share-container img {
      margin: 40px 0;
  }

  .post .meta-wrapper {
    width: 500px;
    margin: auto;
    text-align: left;
  }

  /* admin.php */

  .account {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .post {
    width: 100%;
    text-align: center;
  }

  img.profile-avatar {
    margin: 20px 0px 60px 0px;
  }

  .bio {
    padding: 2px;
    width: 80%;
  }

  .link-heading {
    width: 100%;
    text-align: center;
  }

  img.edit {
    padding: 40px;
  }

  .post-edit-links {
      font-size: 14px;
      width: 500px;
      margin: 70px auto;
      display: flex;
      flex-direction: column;
      letter-spacing: 1.3px;
  }

}

@media only screen and (max-width: 550px) {

  .header {
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  h1.heading-slogan {
      margin-left: 0;
  }

  .header li {
    margin-right: 0;
  }

  div.navigation {
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
  }

  .right {
    width: 310px;
  }

  .description {
    margin: 20px 0px 20px 20px;
    width: 300px;
  }

  .post .meta-wrapper {
    width: 370px;
  }

  form.upload-avatar {
    width: 340px;
    justify-content: center;
  }

  .bio {
    padding: 0;
    width: 300px;
  }

  form.edit-bio textarea {
    width: 350px;
  }

  form.edit-bio * {
    width: 360px;
  }

  .post-edit-links {
    width: 360px;
  }

}
